footer{
    padding: 16px 16px;
    background-color: #fff;
    h1,h2,h3,h4,h5{
        color:#111 !important;
    }
     .menu-footer{
         font-size: 14px;
         a{
             color:#111;
         }
     }
}